#block, #block:focus,#block:hover, #block:active{
	border:0;
	outline: none;
	resize:none;
	height: 400px;
	box-shadow: none;
	webkit-box-shadow: none;
	font-size: 20pt;
    font-family: Arial;
	background-color: #FAFAFA;
}
.progress{
	height: 1em
}

.container {
    width: 800px;
}
.progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    block: inline;
}

#progress-words>div {
    background-color: blue;
}
#progress-time>div {
    background-color: green;
}
.progressbar > div {
    background-color: orange;
    width: 0%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}
#thanks, #error, #submitting, #submit_button {
	display: none;
}
button#submit_button {
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	color: black;
}
button#submit_button:hover {
	background-color: #EBEBEB;
}